* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 206, 206);
}

#controllDiv {
  width: 15em;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

canvas {
  display: block;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#overlay {
  position: fixed;
  background-image: url("../assets/img/Bomberman_BG.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100vw;
  height: 100vh;
}